$pageheight: calc(100dvh - 182px);

.pageContainer {
  min-height: $pageheight;
}

.menuSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Pretendard";
  width: 90%;
  height: 80px;
  margin: 0 auto;
}

.titleContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 600;
  text-wrap: wrap;
}

.detailButton {
  height: 3.5em;
  width: 16em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background: #16166d;
  color: #fff;
  text-align: center;
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 700;
}

.connectWallet {
  height: 40%;
  width: calc(40% - 20px);
  border-radius: 20px;
  border: 2px solid #16166d;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 15px;
  color: #bbbbbb;
}

.content {
  width: 100%;
  height: calc($pageheight - 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.detailSection {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.riskSection {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
