.main-menu-page {
  background-color: white;
  min-height: 100svh;
}

.main-menu-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-geist-sans);
  padding: 1rem 3rem;
  height: 100px;
}

.main-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-menu-item {
  background-color: #ECECFF;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 150px;
  color: #16166D;
  text-align: center;
  font-weight: bold;
}

.main-menu-item.selected {
  background-color: #16166D;
  color: #ECECFF;
}

.main-menu-item:hover {
  background-color: #16166D;
  color: #ECECFF;
  cursor: pointer;
}

.main-wallet-container {
  border: 2px solid #16166D;
  padding: 0.5rem 10rem;
  border-radius: 15px;
  color: gray;
}

.main-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 3rem;
}

.main-box-item {
  flex: 1 1 calc(33.33% - 1rem);
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 300px;
}

.main-box-item:hover {
  transform: translateY(-5px);
}

.main-box-image {
  height: 170px;
  background-color: #ECECFF;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: #16166D;
}

.main-box-item h3 {
  margin: 1rem 0;
  color: black;
}

.main-box-tail{
  display: flex;
  justify-content: space-between;
}

.main-box-active {
  display: flex;
  gap: 20px;
}

.main-box-bet {
  background-color: #16166D;
  color: white;
  font-weight: bold;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.main-box-volume {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: gray;
}