.categoryContainer {
  height: 40px;
  width: 120px;
  background: #ececff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  :hover {
    cursor: pointer;
  }
  &.selected {
    background-color: #5151be;
  }
  margin: 12px;
}

.content {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 600;
  color: #bbbbbb;
  text-align: center;
  &.selected {
    color: #ffffff;
  }
}
