.graphContainer {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  // border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 120px;
  margin-top: 10px;
  align-items: end;
}

.bar {
  border-radius: 20px 20px 0 0;
  width: 5%;
  background: #000000;
  display: flex;
  background: linear-gradient(180deg, #16166d 0%, #5151be 40%, #9de0f5 100%);
}

.bottomLine {
  border-top: 1px solid #888888;
  width: 95%;
}

.legendContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.legend {
  text-align: center;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 12px;
}
