.optionSection {
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.options {
  height: 60%;
  width: calc(100% - 25px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.option {
  width: 100%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 8px 3px rgba(221, 221, 221, 0.5);
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard";
  font-size: 1em;
  font-weight: 500;
  text-wrap: wrap;
  &.select {
    border-radius: 20px;
    border: 2px solid #9de0f5;
    background: #fff;
    box-shadow: 0px 4px 8px 3px rgba(157, 224, 245, 0.5);
  }
}
